.icon-console {
	background-image: url('png/console.png');
	background-repeat: no-repeat;
}
.icon-embed {
	background-image: url('png/embed.png');
	background-repeat: no-repeat;
}
.icon-envelope {
	background-image: url('png/envelope.png');
	background-repeat: no-repeat;
}
.icon-feed {
	background-image: url('png/feed.png');
	background-repeat: no-repeat;
}
.icon-feed2 {
	background-image: url('png/feed2.png');
	background-repeat: no-repeat;
}
.icon-file-pdf {
	background-image: url('png/file-pdf.png');
	background-repeat: no-repeat;
}
.icon-github {
	background-image: url('png/github.png');
	background-repeat: no-repeat;
}
.icon-googleplus {
	background-image: url('png/googleplus.png');
	background-repeat: no-repeat;
}
.icon-linkedin {
	background-image: url('png/linkedin.png');
	background-repeat: no-repeat;
}
.icon-mail {
	background-image: url('png/mail.png');
	background-repeat: no-repeat;
}
.icon-pen {
	background-image: url('png/pen.png');
	background-repeat: no-repeat;
}
.icon-pilcrow {
	background-image: url('png/pilcrow.png');
	background-repeat: no-repeat;
}
.icon-stackoverflow {
	background-image: url('png/stackoverflow.png');
	background-repeat: no-repeat;
}
.icon-twitter {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
}
.icon-user {
	background-image: url('png/user.png');
	background-repeat: no-repeat;
}
