/******************************************************************************
  ALL
******************************
  *, @viewport
******************************************************************************/
*, *:before, *:after {
       -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
            box-sizing: border-box;
}

@-ms-viewport { 
    width: device-width; 
}

@viewport { 
    width: device-width; 
}

/******************************************************************************
  SECTIONING AND STRUCTURING
******************************
  html, body, header, footer, nav, main, article, aside, section, p, pre,
  blockquote, figure, figcaption, address, summary, details, div
******************************************************************************/
html {
    color: #444;
    font: 18px/1.4 'Source Sans Pro', Calibri, sans-serif;
    -webkit-font-feature-settings: 'dlig' 0, 'kern', 'liga', 'onum', 'pnum';
       -moz-font-feature-settings: 'dlig' 0, 'kern', 'liga', 'onum', 'pnum';
            font-feature-settings: 'dlig' 0, 'kern', 'liga', 'onum', 'pnum';
}

body {
    max-width: 33em;
    margin: 0 auto 1.4em;
}

header,
main,
p,
pre,
figure,
address,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dd,
fieldset,
table,
hr,
.media {
    margin: 0 0 1.4rem 0;
}

header {
    font-weight: bold;
    position: relative;
    vertical-align: text-top;
}

header nav {
    margin-top: -0.333rem;
    padding: .333rem .222rem;
}

header h1 {
    display: inline-block;
    font-size: 3.5rem;
    margin-bottom: -1.222rem;
}

header a {
    color: #006b9f;
    font-weight: bold;
    text-decoration: none;
}

header a:hover {
    color: #000;
} 

/*Possible nav styles from trentwalton.com*/
/*nav ul{margin:0;width: 100%;}*/
/*nav ul li { float: left; width: 25%; margin-right: 0; text-align: center; list-style-type: none;}*/
/*nav ul li:last-child{margin-right: 0;}*/
/*nav ul li#search-link {margin-right: 0;}*/
/*nav ul li a {padding: 1em 0;}*/
/*nav a {color: #333;text-decoration: none;display: inline-block;}*/

nav ul {
    list-style: none;
}

main {
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

main nav,
small {
  font-size: .75rem;
}

pre, 
samp, 
kbd { 
    font-family: monospace, sans-serif; 
}

pre code {
    display: inline-block;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

blockquote {
    margin: 1.4rem;
}

blockquote,
q {
    quotes: none;
}

blockquote mark, 
q mark {
    font-style: italic;
}

address {
    font-style: normal;
}



/******************************************************************************
  HEADINGS
************
  hgroup, h1, h2, h3, h4, h5, h6
******************************************************************************/
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    color: #222;
    font-weight: bold;
}

h1 {
    font-size: 19px;
    margin-bottom: 6.2px;
}

h2 {
    font-size: 18.5px;
    margin-bottom: 6.7px;
}



/******************************************************************************
  LISTS
*********
  ul, ol, li, dl, dt, dd, menu, menuitem
******************************************************************************/
ul {
    padding-left: 15px;
}

ul li {
    list-style: none;
}

ul li::before {
    color: #006b9f;
    content: '\25A0'; /* Unicode black square */
    display: block;
    font-size: .67em;
    left: -1em;
    max-height: 0;
    position: relative;
}

ul ul li::before {
    content: '\25A1'; /* Unicode white square */
}

ol {
    list-style-type: decimal;
}

ol ol {
    counter-reset: section;
    list-style-type: none;
}

ol ol li::before {
    counter-increment: section;
    content: counters(section, ".") " ";
}


/******************************************************************************
  MEDIA
*********
  canvas, object, embed, img, audio, video, track, map, area, iframe
******************************************************************************/
img {
    height: auto !important;
    max-width: 100%;
    width: auto !important;
}


/******************************************************************************
  FORMS
*********
  form, fieldset, legend, label, input, button, select, optgroup, option, 
  datalist, textarea, output
******************************************************************************/
input, 
select {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

/* todo: set :hover and :focus */

/******************************************************************************
  TABLES
**********
  table, caption, colgroup, col, thead, tfoot, tbody, tr, th, td
******************************************************************************/
table {
    border-style: hidden;
}

th,
td {
    border: 1px solid #333;
    padding: .25rem;
}

th {
    background-color: #006b9f;
    color: #fff;
}

td {
    background-color: #eee;
    -webkit-font-feature-settings: 'tnum';
       -moz-font-feature-settings: 'tnum';
            font-feature-settings: 'tnum';
}

/******************************************************************************
  PHRASING
************
  a, strong, em, b, i, u, s, sup, sub, small, abbr, dfn, mark, del, ins, q, 
  cite, data, progress, time, meter, code, var, samp, kbd, keygen, bdi, bdo, 
  ruby, rt, rp, span
******************************************************************************/
strong {
    font-weight: bold;
}

em {
    font-style: normal;
    font-weight: bold;
}

abbr {
    letter-spacing: 0.1em;
}

abbr[title], 
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

del {
    text-decoration: line-through;
    -webkit-text-decoration-color: #aaa;
       -moz-text-decoration-color: #aaa;
            text-decoration-color: #aaa;
}

del.edit-block {
    border-left-color: #91081f;
    color: #aaa;
    text-decoration: none;
}

ins {
    border-bottom: 1px solid #ccc;
    color: #388807;
    text-decoration: none;
}

ins::before {
    content: ' (Update) ';
    display: inline;
    font-style: italic;
}

ins[datetime]::before {
    content: ' (Update ' attr(datetime) ') ';
}

ins p {
    display: inline;
}

ins.edit-block {
    border-bottom: none;
    border-left-color: #47ad09;
    color: #444;
    margin-bottom: 1.4rem;
}

code,
var,
.line-numbers,
.line-pre,
.terminal { 
    font: 14px/1.3 'Source Code Pro', Consolas, monospace !important;
}

code,
var {
    background-color: #f8f8ff;
    border: 1px solid #ddd;
    padding: 0 .4em;
}

kbd {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 0 0 2px #fff inset;
    color: #333;
    display: inline-block;
    font-size: 11px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    line-height: 1.4;
    margin: 0 .1em;
    padding: .1em .6em;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
}



/******************************************************************************
  MISCELLANEOUS
*****************
  hr
******************************************************************************/
hr {
    border: 0;
    border-top: 1px solid #006b9f;
    display: block;
    height: 1px;
    margin: 1rem 0;
    padding: 0;
}

::-moz-selection {
    background: #006b9f;
    color: #fff;
}

::selection {
    background-color: #006b9f;
    color: #fff;
}



/******************************************************************************
  CLASSES
******************************************************************************/
.author {
    margin: 0;
    display: none; /* todo: remove when I figure out how Google authorship stuff works */
}

.edit-block {
    border-left: 0.5rem solid;
    display: block;
    margin-left: -1rem;
    padding-left: 0.5rem;
}

.gist table {
    margin-bottom: 0;
}

.gist td {
    background-color: #f8f8ff;
}

.media, .bd {
    overflow: hidden; 
}

.media img {
    display: block;
    float: left;
    margin-right: 10px;
}

.post {
    margin-bottom: 2rem;
}

.post-date {
    color: #aaa;
}

.post-title {
    margin: 0;
}

.right {
    display: block;
    float: right;
}

.site-logo {
    bottom: 1.611rem;
    font-size: 3.5rem;
    left: -2rem;
    position: absolute;
}

.site-title span {
    display: inline-block;
    letter-spacing: -1px;
    position: relative;
}
.site-title .char2 { right: 2px; top: 1px; }
.site-title .char3 { right: 4px; top: 1px; }
.site-title .char4 { right: 3px; top: 1px; }
.site-title .char5 { right: 4px; top: 1px; }
.site-title .char6 { right: 5px; }
.site-title .char7 { right: 6px; top: 1px; }
.site-title .char8 { right: 8px; }
.site-title .char9 { right: 8px; top: 1px; }

.small-caps {
    -webkit-font-feature-settings: 'smcp';
       -moz-font-feature-settings: 'smcp';
            font-feature-settings: 'smcp';
}

.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #fff;
}

.top-border {
    border-top: .2rem solid #333;
}

.uppercase {
    -webkit-font-feature-settings: 'lnum' 1;
       -moz-font-feature-settings: 'lnum' 1;
            font-feature-settings: 'lnum' 1;
    text-transform: uppercase;
}






/* Working... */
footer {
    overflow: hidden;
}

footer .contact {
    float: left;
    margin-right: 3em;
}

footer .contact a {
    color: #8085c1;
}

footer .rss {
    margin-top: 1.1em; /* remove; only use margin-bottom */
    margin-right: -.2em;
    float: right;
}

footer .rss img {
    border: 0;
}

header a.extra {
    color: #aaa;
    margin-left: 1em;
}

header a.extra:hover {
    color: #000;
}



/******************************************************************************
  HOME
******************************************************************************/
ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

ul.posts li {
    line-height: 1.75em;
}

ul.posts span {
    color: #aaa;
    font-size: 80%;
}



/******************************************************************************
  POSTS
******************************************************************************/


.post ul, .post ol {
    margin-left: 1.35em;
}

