/*****************************************************************************
  ALL
******************************
  *, @viewport
******************************************************************************/
*, *:before, *:after {
       -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
            box-sizing: border-box;
}

@-ms-viewport { 
    width: device-width; 
}

@viewport { 
    width: device-width; 
}

/******************************************************************************
  SECTIONING AND STRUCTURING
******************************
  html, body, header, footer, nav, main, article, aside, section, p, pre,
  blockquote, figure, figcaption, address, summary, details, div
******************************************************************************/
html {
    color: #444;
    font: 18px/1.4 'Source Sans Pro', Calibri, sans-serif;
    /*Turn on kerning, standard ligatures, and proportional, oldstyle numerals
      Turn off all other ligatures, tabular, lining numerals, and alternates */
    -webkit-font-feature-settings: 'dlig' 0, 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'tnum' 0;
       -moz-font-feature-settings: 'dlig' 0, 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'tnum' 0;
            font-feature-settings: 'dlig' 0, 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'tnum' 0;
}

body {
    max-width: 33em;
    margin: 0 auto 1.4em;
}

main,
p,
pre,
figure,
address,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
li,
dd,
fieldset,
table,
hr,
.media,
.post header,
.shrug {
    margin: 0 0 1.4rem 0;
}

header {
    font-weight: bold;
    position: relative;
    vertical-align: text-top;
}

header nav {
    margin-top: -0.333rem;
}

header h1 {
    display: inline-block;
    font-size: 3.5rem;
    margin-bottom: -1.222rem;
}

header a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

header a:hover {
    color: #000;
}

nav ul {
    margin: 0.5rem 0 0.25rem 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding-right: 0.75em;
}

main {
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

main nav,
small {
    font-size: 0.75rem;
}

main h1 {
    font-size: 19px;
    margin-bottom: 6.2px;
}

p a {
    border-bottom: solid 1px #006b9f;
    color: #006b9f;
    text-decoration: none;
}

p a:hover {
    -webkit-transition: border-bottom-width 300ms cubic-bezier(1, 0, 0, 1);
            transition: border-bottom-width 300ms cubic-bezier(1, 0, 0, 1);
    border-bottom-width: 3px;
}

/* Turn off kerning and ligatures,
   Turn on lining, tabular numerals, slashed zero */
pre, 
code,
samp,
kbd{
  -webkit-font-feature-settings: 'dlig' 0, 'kern' 0, 'liga' 0, 'lnum' 1, 'onum' 0, 'pnum' 0, 'tnum' 1, 'zero' 1;
     -moz-font-feature-settings: 'dlig' 0, 'kern' 0, 'liga' 0, 'lnum' 1, 'onum' 0, 'pnum' 0, 'tnum' 1, 'zero' 1;
          font-feature-settings: 'dlig' 0, 'kern' 0, 'liga' 0, 'lnum' 1, 'onum' 0, 'pnum' 0, 'tnum' 1, 'zero' 1;
}

pre, 
samp { 
    font-family: monospace, sans-serif; 
}

pre code {
    display: inline-block;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

blockquote,
q {
    quotes: none;
}

blockquote mark, 
q mark {
    font-style: italic;
}

blockquote {
    margin: 1.4rem;
}

figcaption {
    font-style: italic;
}

address {
    font-style: normal;
}



/******************************************************************************
  HEADINGS
************
  hgroup, h1, h2, h3, h4, h5, h6
******************************************************************************/
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-weight: bold;
}

/* Turn on discretionary ligatures for larger headings */
h1,
h2,
h3 {
    -webkit-font-feature-settings: 'dlig', 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'tnum' 0;
       -moz-font-feature-settings: 'dlig', 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'tnum' 0;
            font-feature-settings: 'dlig', 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'tnum' 0;
}

h1 {
    font-size: 19px;
    margin-bottom: 6.2px;
}

h2 {
    font-size: 18.5px;
    margin-bottom: 6.7px;
}



/******************************************************************************
  LISTS
*********
  ul, ol, li, dl, dt, dd, menu, menuitem
******************************************************************************/
ul li {
    list-style-type: square;
}

ul ul li {
    list-style-type: circle;
}

ol {
    list-style-type: decimal;
}

ol ol {
    counter-reset: section;
    list-style-type: none;
}

ol ol li::before {
    counter-increment: section;
    content: counters(section, ".") " ";
}

dd {
    padding-left: 1rem;
}


/******************************************************************************
  MEDIA
*********
  canvas, object, embed, img, audio, video, track, map, area, iframe
******************************************************************************/
img {
    height: auto !important;
    max-width: 100%;
    width: auto !important;
}


/******************************************************************************
  FORMS
*********
  form, fieldset, legend, label, input, button, select, optgroup, option, 
  datalist, textarea, output
******************************************************************************/
input, 
select {
    vertical-align: middle;
}

/* Turn on lining numerals */
input[type='color'], 
input[type='date'], 
input[type='datetime'], 
input[type='datetime-local'], 
input[type='number'], 
input[type='range'], 
input[type='tel'], 
input[type='week'] {
    -webkit-font-feature-settings: 'dlig', 'kern' 0, 'liga', 'lnum', 'onum' 0, 'pnum' 0, 'tnum' 0, 'zero';
       -moz-font-feature-settings: 'dlig', 'kern' 0, 'liga', 'lnum', 'onum' 0, 'pnum' 0, 'tnum' 0, 'zero';
            font-feature-settings: 'dlig', 'kern' 0, 'liga', 'lnum', 'onum' 0, 'pnum' 0, 'tnum' 0, 'zero';
}

textarea {
    resize: vertical;
}

/* todo: set :hover and :focus */

/******************************************************************************
  TABLES
**********
  table, caption, colgroup, col, thead, tfoot, tbody, tr, th, td
******************************************************************************/
table {
    border-style: hidden;
    -webkit-font-feature-settings: 'kern' 0, 'liga', 'lnum', 'onum' 0, 'pnum' 0, 'tnum', 'zero';
       -moz-font-feature-settings: 'kern' 0, 'liga', 'lnum', 'onum' 0, 'pnum' 0, 'tnum', 'zero';
            font-feature-settings: 'kern' 0, 'liga', 'lnum', 'onum' 0, 'pnum' 0, 'tnum', 'zero';
}

table thead, 
table tfoot {
    -webkit-font-feature-settings: 'dlig' 0, 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'tnum' 0;
       -moz-font-feature-settings: 'dlig' 0, 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'tnum' 0;
            font-feature-settings: 'dlig' 0, 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'tnum' 0;
}

th,
td {
    border: 1px solid #333;
    padding: 0.25rem;
}

th {
    background-color: #006b9f;
    color: #fff;
}


/******************************************************************************
  PHRASING
************
  a, strong, em, b, i, u, s, sup, sub, small, abbr, dfn, mark, del, ins, q, 
  cite, data, progress, time, meter, code, var, samp, kbd, keygen, bdi, bdo, 
  ruby, rt, rp, span
******************************************************************************/
strong {
    font-weight: bold;
}

em {
    font-style: normal;
    font-weight: bold;
}

sup {
    -webkit-font-feature-settings: 'dlig' 0, 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'sups', 'tnum' 0;
       -moz-font-feature-settings: 'dlig' 0, 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'sups', 'tnum' 0;
            font-feature-settings: 'dlig' 0, 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'sups', 'tnum' 0;
}

sub {
    -webkit-font-feature-settings: 'dlig' 0, 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'subs', 'tnum' 0;
       -moz-font-feature-settings: 'dlig' 0, 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'subs', 'tnum' 0;
            font-feature-settings: 'dlig' 0, 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'subs', 'tnum' 0;
}

abbr {
    letter-spacing: 0.1em;
}

abbr[title], 
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

del {
    text-decoration: line-through;
    -webkit-text-decoration-color: #aaa;
       -moz-text-decoration-color: #aaa;
            text-decoration-color: #aaa;
}

del.edit-block {
    border-left-color: #91081f;
    color: #aaa;
    text-decoration: none;
}

ins {
    border-bottom: 1px solid #ccc;
    color: #388807;
    text-decoration: none;
}

ins::before {
    content: ' (Update) ';
    display: inline;
    font-style: italic;
}

ins[datetime]::before {
    content: ' (Update ' attr(datetime) ') ';
}

ins p {
    display: inline;
}

ins.edit-block {
    border-bottom: none;
    border-left-color: #47ad09;
    color: #444;
    margin-bottom: 1.4rem;
}

code,
var,
.line-numbers,
.line-pre,
.terminal { 
    font: 14px/1.3 'Source Code Pro', Consolas, monospace !important;
}

code,
var {
    background-color: rgba(0,107,159,0.04);
    border: 1px solid #006b9f;
    border-radius: 2px;
    color: #006b9f;
    margin: 0 0.15em;
    padding: 0 0.3em;
}

kbd {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 0 0 2px #fff inset;
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    line-height: 1.4;
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
}



/******************************************************************************
  MISCELLANEOUS
*****************
  hr
******************************************************************************/
hr {
    border: 0;
    border-top: 1px solid #006b9f;
    display: block;
    height: 1px;
    margin: 1rem 0;
    padding: 0;
}

::-moz-selection {
    background: #006b9f;
    color: #fff;
}

::selection {
    background-color: #006b9f;
    color: #fff;
}



/******************************************************************************
  CLASSES
******************************************************************************/
.author {
    margin: 0;
    display: none; /* todo: remove when I figure out how Google authorship stuff works */
}

.bd,
.media {
    overflow: hidden; 
}

.edit-block {
    border-left: 0.5rem solid;
    display: block;
    margin-left: -1rem;
    padding-left: 0.5rem;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.font-style-normal {
    font-style: normal;
}

.gist table {
    margin-bottom: 0;
}

.gist td {
    background-color: #f8f8ff;
}

.icon {
display: none; /* temporary fix for icon display bug */
    height: 1em;
    vertical-align: sub;
}

.license {
    text-align: right;
}

.media img {
    display: block;
    float: left;
    margin-right: 10px;
}

.no-margin,
.no-margin li {
    margin: 0;
}

.post {
    margin-bottom: 2.8rem;
}

.post-date,
.post-title {
    margin: 0;
}

.post-date {
    color: #aaa;
}


.right {
    display: block;
    float: right;
}

.shrug {
    font-size: 3.5rem;
}

.site-logo {
    bottom: 2.889rem;
    font-size: 3.5rem;
    left: -2rem;
    position: absolute;
}

.site-title {
    color: #006b9f;
    font-weight: bold;
}

.site-title span {
    display: inline-block;
    letter-spacing: -1px;
    position: relative;
}

.site-title .char2 { right: 3px; top: 1px; }
.site-title .char3 { right: 5px; top: 1px; }
.site-title .char4 { right: 6px; top: 1px; }
.site-title .char5 { right: 8px; top: 1px; }
.site-title .char6 { right: 10px; }
.site-title .char7 { right: 12px; top: 1px; font-size: 64px; }
.site-title .char8 { right: 13px; }
.site-title .char9 { right: 13px; top: 1px; }

.small-caps {
    -webkit-font-feature-settings: 'smcp';
       -moz-font-feature-settings: 'smcp';
            font-feature-settings: 'smcp';
}

.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #fff;
}

.top-border {
    border-top: 0.2rem solid #333;
}

.uppercase {
    -webkit-font-feature-settings: 'lnum' 1;
       -moz-font-feature-settings: 'lnum' 1;
            font-feature-settings: 'lnum' 1;
    text-transform: uppercase;
}
