<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>{{ page.title }}</title>
    <link rel="canonical" href="{{ page.url }}">
    
    {% if page.previous != null %}
        <link rel="prev" href="{{ page.previous.url }}" />
    {% endif %}
    {% if page.next != null %}
        <link rel="next" href="{{ page.next.url }}" />
        <link rel="prerender" href="{{ page.next.url }}" />
    {% endif %}

    <meta name="description" content="The programming blog of Brian Koser">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicons/favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicons/favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/favicons/favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicons/favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicons/favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="/images/favicons/favicon-57.png">
    <link rel="icon" href="/images/favicons/favicon-96.png" sizes="96x96">
    <link rel="icon" href="/images/favicons/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/images/favicons/favicon-195.png" sizes="195x195">
    <link rel="icon" href="/images/favicons/favicon-228.png" sizes="228x228">
    <meta name="msapplication-TileColor" content="#006b9f">
    <meta name="msapplication-TileImage" content="/images/favicons/favicon-144.png">

    <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,400italic,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/javascript/jquery-2.1.0.min.js"></script>
    <script src="/javascript/jquery.lettering-0.6.1.min.js"></script>
    <script src="/javascript/hyphenate.js"></script>
    <script src="http://www.blueletterbible.org/scripts/blbToolTip/BLB_ScriptTagger-min.js"></script>
    
    <script>
        $(document).ready(function() {
            $(".site-title").lettering();
        });
        
        // Blue Letter Bible options (http://www.blueletterbible.org/webtools/BLB_ScriptTagger.cfm)
        BLB.Tagger.Translation = 'KJV';
        BLB.Tagger.HyperLinks = 'hover';
    </script>
</head>
<body>
    <header role="banner">
        <span class="site-logo">ϟ</span>
        <h1 class="site-title">{{ site.name }}</h1>
        <nav role="navigation" class="top-border">
            <ul>
                <li>
                    <a href="/blog/">
                        <object type="image/svg+xml" data="/images/icomoon/pen.svg" class="icon"></object>
                        Blog
                    </a>
                </li>
                <li>
                    <a href="/contact/">
                        <object type="image/svg+xml" data="/images/icomoon/envelope.svg" class="icon"></object>
                        Contact
                    </a>
                </li>
                <li>
                    <a href="/about/">
                        <object type="image/svg+xml" data="/images/icomoon/user.svg" class="icon"></object>
                        About
                    </a>
                </li>
                <li>
                    <a href="/blog/feed.atom">
                        <object type="image/svg+xml" data="/images/icomoon/feed.svg" class="icon"></object>
                        RSS
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>
    
    <footer role="contentinfo" class="top-border">
        <small class="float-left">Powered by Jekyll, bagels, and <i class="foreign font-style-normal" lang="fr">je ne sais quoi</i></small>
        <small class="float-right"><a href="/license/">License and Disclaimer</a></small>
    </footer>
</body>
</html>
